<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenGMS Dev</title>
    <link rel="stylesheet" href="./stylesheets/common.css" />
    <link rel="stylesheet" href="./stylesheets/doc.css" />
</head>
<body>
    <div class="container" id="js-container">
        <!--页眉-->
        <% include common/header %>
        <!--主内容-->
        <div class="main">
            <div class="main-menu" id="js-menu">
                <p data-category="api" class="main-menu-p selected on">Model Service Api</p>
                <ul class="main-menu-ul" style="display:block">
                    <% menuObj["Model Service Api"].forEach(function(t){ %>
                        <li class="menu-ul-type"><%= t.typeName %></li>
                        <% t.subTypes.forEach(function(st){ %>
                            <li class="menu-ul-item" data-file="<%= st.file %>" data-ext="<%= st.ext %>" data-fullTitle="<%= t.fullTypeName + ' / ' + st.typeName %>"><%= st.typeName %></li>
                        <%})%>
                    <%}) %>
                    <!-- <li class="menu-ul-type">MDL</p>
                    <li class="menu-ul-item">modelClass</li>
                    <li class="menu-ul-item">modelBehavior</li> -->
                </ul>
                <p data-category="dataServiceContainer" class="main-menu-p-noSub">Data Service Container</p>

                <p data-category="api" class="main-menu-p selected on">Data Service Api</p>
                <ul class="main-menu-ul" style="display:block">
                    <% menuObj["Data Service Api"].forEach(function(t){ %>
                        <li class="menu-ul-type"><%= t.typeName %></li>
                        <% t.subTypes.forEach(function(st){ %>
                            <li class="menu-ul-item" data-file="<%= st.file %>" data-ext="<%= st.ext %>" data-fullTitle="<%= t.fullTypeName + ' / ' + st.typeName %>"><%= st.typeName %></li>
                        <%})%>
                    <%}) %>
                </ul>
                <p data-category="serviceContainer" class="main-menu-p-noSub">Service Container</p>
                <!-- <p data-category="examples" class="main-menu-p">Examples</p>
                <ul class="main-menu-ul">
                    <li data-type="FDS" class="menu-ul-item">FDS</li>
                    <li data-type="Random Forest" class="menu-ul-item">Random Forest</li>
                </ul> -->
                <p data-category="quickStart" class="main-menu-p-noSub">Quick Start</p>
            </div>
            <div class="main-content">
                <!--加载中-->
                <div id="js-loading" class="content-item" style="text-align:center">
                    <img src="./images/loading1.png" class="rotate" />
                </div>
                <!--API Instruction-->
                <div id="js-api" class="content-item">
                    
                </div>
                <!--examples-->
                <div id="js-examples" class="content-item">
                    <h1 class="markdown-title">FDS</h1>
                    <div class="markdown">
                        <p>Fire Dynamics Simulator (FDS) is a computational fluid dynamics (CFD) model of fire-driven fluid flow. The software solves numerically a form of the Navier-Stokes equations appropriate for low-speed, thermally-driven flow, with an emphasis on smoke and heat transport from fires.</p>
                        <pre class="markdown-pre" id="js-pre">                        
                        </pre>
                    </div>
                </div>
                <!-- service container -->
                <div id="js-serviceContainer" class="content-item" >
                


                </div>

                <!-- data service container -->
                <div id="js-dataServiceContainer" class="content-item" ></div>
                <!--quick start-->
                <div id="js-quickStart" class="content-item">
                    <h1 class="markdown-title">Quick Start</h1>
                    <p>This primer shows how to run a simple model.</p>
                    <div class="markdown">
                        <h2 class="markdown-h2">Step1:</h2>
                        <p>Below you'll find a complete working example. Create a new file, copy in the contents below, and open in a browser:</p>
                        <pre class="markdown-pre">
                            
                        </pre>
                    </div>
                    <div class="markdown">
                        <h2 class="markdown-h2">Step2:</h2>
                        <p>Below you'll find a complete working example. Create a new file, copy in the contents below, and open in a browser:</p>
                        <pre class="markdown-pre">
                            
                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <!--页脚-->
        <%include common/footer%>
    </div>
</body>
<script src="./javascripts/jquery.min.js"></script>
<script src="./javascripts/doc.js"></script>
<!-- <script src="./javascripts/makeup.js" ></script> -->
</html>