<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Open geographic modeling and simulation platform development guides" />
    <title>OpenGMS Dev</title>
    <link rel="stylesheet" href="./lib/highlight/styles/default.css" />
    <link rel="stylesheet" href="./stylesheets/common.css" />
    <link rel="stylesheet" href="./stylesheets/doc.css" />
</head>
<body>
    <div class="container" id="js-container">
        <!--页眉-->
        <% include common/header %>
        <!--主内容-->
        <div class="main">
            <div class="main-menu" id="js-menu">
                <% Object.keys(menu).forEach(function(t){ %>
                    <p data-category="<%= menu[t].category %>" class="<%= menu[t].subTypes ? 'main-menu-p' : 'main-menu-p-noSub' %>"><%= menu[t].title %></p>
                    <% if(menu[t].subTypes){ %>
                        <ul class="main-menu-ul">
                            <% menu[t].subTypes.forEach(function(st){ %>
                                <li class="menu-ul-item" data-file="<%= st.file %>" data-ext="<%= st.ext %>" data-fullTitle="<%= menu[t].fullTitle + ' / ' + st.title %>"><%= st.title %></li>
                            <% }) %>
                        </ul>
                    <% } %>
                <% }) %>
            </div>
            <div class="main-content">
                <!--加载中-->
                <div id="js-loading" class="content-item" style="text-align:center">
                    <img src="./images/loading1.png" class="rotate" />
                </div>
                <!--quick start-->
                <div id="js-quickStart" class="content-item">
                </div>
                <!--model service container -->
                <div id="js-modelServiceContainer" class="content-item" >
                </div>
                <!--data service container-->
                <div id="js-dataServiceContainer" class="content-item">
                </div>
                <!--API Instruction-->
                <div id="js-api" class="content-item">
                </div>
                <!--examples-->
                <!-- <div id="js-examples" class="content-item">
                    <h1 class="markdown-title">FDS</h1>
                    <div class="markdown">
                        <p>Fire Dynamics Simulator (FDS) is a computational fluid dynamics (CFD) model of fire-driven fluid flow. The software solves numerically a form of the Navier-Stokes equations appropriate for low-speed, thermally-driven flow, with an emphasis on smoke and heat transport from fires.</p>
                        <pre class="markdown-pre" id="js-pre">                        
                        </pre>
                    </div>
                </div> -->
            </div>
        </div>
        <!--页脚-->
        <%include common/footer%>
    </div>
</body>
<script src="./javascripts/jquery.min.js"></script>
<script src="./lib/highlight/highlight.pack.js"></script>
<script src="./javascripts/doc.js"></script>
</html>